// -----------------------------------------------------------------------------
// This file contains all styles related to the Variables of the site/application.
// -----------------------------------------------------------------------------

/* Colorers */
$white: #fff;
$black: #000;

/* System Media Queries Breakpoints */
$Breakpoints : (
    "x-small": 350px,     
    "small": 400px,       
    "medium": 600px,  
    "large": 768px,    
    "x-large": 997px,     
    "xx-large": 1200px,   
    "xxx-large": 1400px,
);

